.wrapper {
  padding-top: 10px;
  padding-left: 6px;
  padding-right: 20px;
}

.list {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.term {
  padding-top: 22px;
  padding-bottom: 9px;
  border-bottom: 1px solid #d7d9df;
}

.definition {
  margin: 0;
  padding-top: 22px;
  padding-bottom: 9px;
  text-align: right;
  border-bottom: 1px solid #d7d9df;
}
