.title {
  margin: 0;
  font-size: 30px;
  font-weight: 700;
  margin-top: -10px;
  margin-bottom: 25px;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  padding-left: 7px;
  margin-bottom: 41px;
  color: #a3a4a6;
}

.item {
  position: relative;
  padding-top: 43px;

  &:not(:last-child) {
    margin-right: 15px;
  }
}

.fuel {
  &::after {
    content: '';
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 2px;
    background-image: url('../../assets/img/fuel.svg');
    background-repeat: no-repeat;
  }
}

.box {
  &::after {
    content: '';
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 18px;
    background-image: url('../../assets/img/box.svg');
    background-repeat: no-repeat;
  }
}

.power {
  &::after {
    content: '';
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 9px;
    background-image: url('../../assets/img/power.svg');
    background-repeat: no-repeat;
  }
}

.engine {
  padding-left: 16px;

  &::after {
    content: '';
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 15px;
    background-image: url('../../assets/img/engine.svg');
    background-repeat: no-repeat;
  }
}

.inner {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.price {
  font-weight: 700;
  font-size: 35px;
  margin-right: 35px;
}

.oldPrice {
  opacity: 0.5;
  font-size: 20px;
  letter-spacing: 1px;
  position: relative;

  &::after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #a3a4a6;
    top: 11px;
    left: -2px;
    position: absolute;
    transform: rotate(-5deg);
  }
}

.buttons {
  display: flex;
  flex-direction: column;
  margin-left: -2px;
}

.button {
  display: inline-flex;
  padding: 18px 17px;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1.8px;
}

.request {
  background-color: #d12136;
  color: #ffffff;
  width: 196px;
  margin-bottom: 17px;

  &:hover {
    background-color: #bd0c21;
  }
}

.credit {
  border: 1px solid #d12136;
  width: 222px;
  color: #d12136;

  &:hover {
    background-color: #d12136;
    color: #ffffff;
  }
}
