.tabs {
  display: flex;
  flex-direction: column;
  margin-bottom: 140px;
}

.button {
  width: 195px;
  height: 50px;
  border: 1px solid #d7d9df;
  background-color: transparent;
  font-family: 'Open-Sans', Arial, sans-serif;
  font-size: 20px;
  color: #48494d;
  cursor: pointer;

  &:hover {
    background-color: #d12136;
    border-color: #d12136;
    color: #ffffff;
  }

  &_active {
    background-color: #d12136;
    border-color: #d12136;
    color: #ffffff;
    cursor: default;
  }
}

.inner {
  display: flex;
  padding-left: 6px;
}
