.wrapper {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  height: 100vh;
}

.main {
  display: flex;
  justify-content: center;
}

.inner {
  width: 100%;
  max-width: 1205px;
  min-width: 768px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-wrap: wrap;

  @media (max-width: 1020px) {
    justify-content: center;
  }
}

.slider {
  margin-right: 60px;
  margin-bottom: 90px;

  @media (max-width: 1020px) {
    margin-left: 60px;
  }
}

.info {
  margin-bottom: 50px;

  @media (max-width: 1020px) {
    margin-left: 50px;
    margin-right: 50px;
  }
}
