.wrapper {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  height: 100vh;
}

.main {
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 1205px;
  min-width: 768px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 90px 57px;
}
